.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  font-size: 70px;
  background-color: #440acc;
}

h1{
  font-size: 100%;
  margin: 0;
}

header {
  height: 100px;
  width: 100%;
  text-align: center;
  color: rgb(25, 247, 235);
}

.welcomePage {
  display: flex;
  margin-top: 10px;
}

p {
  font-size: 40%;
  color: white
}