.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App h2 {
  font-size: 500%;
}

.container-profile {
  display: flex;
  flex-grow: 0.2;
}

.submit-button-profile {
  display: flex;
  background-color: #4f97db;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-items: center;
}
