body{
  border:1px solid black;
  margin-left: 100px;
  margin-right: 100px;
}
.titles{
  display: flex;
  justify-content: space-around;
  border:1px solid black;
}

.under-nav{
  display: flex;
  justify-content: space-evenly;
  border:1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}
.under-nav la{
  font-size: 150%;
  font-weight: bold;
}
.order-detail{
  display:flex;
  justify-content: space-evenly;
  border:1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}